@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
.icon-path{
    @apply fill-orange-600
}
.text-primary{
    @apply text-[#0b0b3a]
}
.bg-primary{
    @apply bg-[#0b0b3a]
}
.text-secondary{
    @apply text-[#ff4800]
}
.bg-secondary{
    @apply bg-[#ff4800]
}
}  
    

html {
    scroll-behavior:smooth;
    scrollbar-width: 22px;
    scrollbar-color: #777 #555;
  }

  html::-webkit-scrollbar {
    width: .8vw;
    
  }

  html::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: rgba(62, 62, 66, 0.333);
  }


